/* .div1{
    display: flex;
    width:300px;
    height: 300px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 2px solid black;
}
.in1{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;, 

}


.in2{
    height: 50px;
    width: 50px;
    border: 1px
     solid black;
    padding: 2px;
    margin: 2px;, 

} */